<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aps.user.sametime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.aps.user.sametime.User"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aps.user.sametime.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.aps.user.sametime.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aps.user.sametime.LoginActivity" />
        <activity
            android:name="com.aps.user.sametime.FranchiseLoginActivity"
            android:label="Franchise Login" />
        <activity
            android:name="com.aps.user.sametime.AddOrder"
            android:label="Add Order" />
        <activity
            android:name="com.aps.user.sametime.FranchiseDashboard"
            android:label="@string/title_activity_franchise_dashboard" />
        <activity
            android:name="com.aps.user.sametime.AddSignature"
            android:label="Add Signature" />
        <activity
            android:name="com.aps.user.sametime.Orders"
            android:label="Order" />
        <activity
            android:name="com.aps.user.sametime.Signatures"
            android:label="Signature" />
        <activity android:name="com.aps.user.sametime.ShowOrders" />
        <activity
            android:name="com.aps.user.sametime.CustomerDashboard"
            android:label="@string/title_activity_customer_dashboard" />
        <activity android:name="com.aps.user.sametime.CustomerLoginActivity" />
        <activity android:name="com.aps.user.sametime.CustomerOrders" />
        <activity android:name="com.aps.user.sametime.UpdateSignature" />
        <activity android:name="com.aps.user.sametime.CustomerShowOrders" />
        <activity android:name="com.aps.user.sametime.UpdateOrder"></activity>
    </application>

</manifest>